.shop_content>.item_wrap{
    border: 1px solid #8a8000;
    padding: 15px;
  }
  .shop_content>.item_wrap>.item_row{
    display: flex;
  }
  .item_left{
    width: 20%;
  }
  .item_mid{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .item_mid>div{
    margin-top: auto;
  }
  .item_right{
    width: 40%;
  }

